<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
     <!--  <h1>this is built in filter</h1>
        <h2> {{data}}</h2>
       <h2> {{data|upper}}</h2>
       <h2> {{data|lower}}</h2>
       <h2> {{data|capfirst}}</h2>
       <h2> {{data|title}}</h2>
       <h2> {{data|length}}</h2>
       <h2> {{data|truncatewords:4}}</h2>
       <h2> {{data|truncatechars:6}}</h2>
       <h2> {{data|slice:6}}</h2>
       <h2>{{dt}}</h2>
       <h2>{{dt|date}}</h2>
       <h2>{{dt|date:'y'}}</h2>
       <h2>{{dt|date:'d'}}</h2>
       <h2>{{dt|date:'s'}}</h2>
       <h2>{{dt|date:'j'}}</h2>
       <h2>{{dt|date:'S'}}</h2>
       <h2>{{dt|date:'A'}}</h2>
       <h2>{{dt|date:'a'}}</h2>
       <h2>{{dt|date:'h'}}</h2>
       <h2>{{dt|date:'l'}}</h2>---->
       <h2>{{dt|date:'M'}}</h2>
       <h2>{{dt|date:'m'}}</h2>
       <h2>{{dt|date:'n'}}</h2>
       <h2>{{dt|date:'b'}}</h2> 
       <h2>{{dt|date:'F'}}</h2>
       <h2>{{dt|date:'y'}}</h2>
       <h2>{{dt|date:'S'}}</h2>
       <h2>{{dt|date:'D'}}</h2>
       <h2>{{dt|date:'G'}}</h2>
       <h2>{{dt|date:'H'}}</h2>
       <h2>{{dt|date:'j'}}</h2>
       <h2> i have {{c}} pen{{c|pluralize}}</h2>
       <h2> i have {{c}} cat{{c|pluralize}}</h2>
       <h2> i have {{c}} pencil{{c|pluralize:'es'}}</h2>
       <h2>this {{c}} marker{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h2>


    </center>
    
</body>
</html>